PartnerModeGo/Connected Services/WcfService/WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WcfService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/LeagueGoServer/WcfService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/LeagueGoServer/WcfService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/LeagueGoServer/WcfService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LeagueGoServer.Model" />
      <xsd:import schemaLocation="http://localhost/LeagueGoServer/WcfService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IWcfService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_CreateGame_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGame" />
  </wsdl:message>
  <wsdl:message name="IWcfService_CreateGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGameResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_ApplyToJoinGame_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyToJoinGame" />
  </wsdl:message>
  <wsdl:message name="IWcfService_ApplyToJoinGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyToJoinGameResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GameStart_InputMessage">
    <wsdl:part name="parameters" element="tns:GameStart" />
  </wsdl:message>
  <wsdl:message name="IWcfService_GameStart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GameStartResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_ClientCommitMove_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientCommitMove" />
  </wsdl:message>
  <wsdl:message name="IWcfService_ClientCommitMove_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientCommitMoveResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfService_DistributeNewGame_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DistributeNewGame" />
  </wsdl:message>
  <wsdl:message name="IWcfService_DistributeAllGameInfo_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DistributeAllGameInfo" />
  </wsdl:message>
  <wsdl:message name="IWcfService_DistributeApplyGameResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DistributeApplyGameResult" />
  </wsdl:message>
  <wsdl:message name="IWcfService_DistributeGameStart_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DistributeGameStart" />
  </wsdl:message>
  <wsdl:message name="IWcfService_DistributeMove_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DistributeMove" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IWcfService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/Login" message="tns:IWcfService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/LoginResponse" message="tns:IWcfService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CreateGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/CreateGame" message="tns:IWcfService_CreateGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/CreateGameResponse" message="tns:IWcfService_CreateGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ApplyToJoinGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/ApplyToJoinGame" message="tns:IWcfService_ApplyToJoinGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/ApplyToJoinGameResponse" message="tns:IWcfService_ApplyToJoinGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GameStart">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/GameStart" message="tns:IWcfService_GameStart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/GameStartResponse" message="tns:IWcfService_GameStart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ClientCommitMove">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfService/ClientCommitMove" message="tns:IWcfService_ClientCommitMove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/ClientCommitMoveResponse" message="tns:IWcfService_ClientCommitMove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DistributeNewGame">
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/DistributeNewGame" message="tns:IWcfService_DistributeNewGame_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DistributeAllGameInfo">
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/DistributeAllGameInfo" message="tns:IWcfService_DistributeAllGameInfo_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DistributeApplyGameResult">
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/DistributeApplyGameResult" message="tns:IWcfService_DistributeApplyGameResult_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DistributeGameStart">
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/DistributeGameStart" message="tns:IWcfService_DistributeGameStart_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DistributeMove">
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfService/DistributeMove" message="tns:IWcfService_DistributeMove_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WcfService" type="tns:IWcfService">
    <wsp:PolicyReference URI="#WcfService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/CreateGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyToJoinGame">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/ApplyToJoinGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameStart">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/GameStart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientCommitMove">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/ClientCommitMove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DistributeNewGame">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/DistributeNewGame" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DistributeAllGameInfo">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/DistributeAllGameInfo" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DistributeApplyGameResult">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/DistributeApplyGameResult" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DistributeGameStart">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/DistributeGameStart" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DistributeMove">
      <soap12:operation soapAction="http://tempuri.org/IWcfService/DistributeMove" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfService">
    <wsdl:port name="WcfService" binding="tns:WcfService">
      <soap12:address location="net.tcp://localhost:12121/LeagueGoServer/WcfService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:12121/LeagueGoServer/WcfService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>